@CHARSET "ISO-8859-1";
.navegacao {
}

.navegacao__menu {
  float: right;
}


.menu {
  margin: 0;

  font-size: 1.4rem;

  list-style: none;
}
.menu__item {
    
    padding-right: 20px;
  }

  .menu__item:last-of-type {
    padding-right: 0px;
}
